.contextual-help-back {
    /*top: 0;
    bottom: 0;
    left: 150px;
    right: 170px;
    border: 1px solid #e1e1e1;
    border-top: none;
    border-bottom: none;*/
    background: #f6fbfd;
}

.contextual-help-simple {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    background: #f6fbfd;
    overflow: auto;
}

.fondo-cabecera-box
{
    background-color:#007DC3;
    /*background-color:#2F4A9A;*/
    color: #FFF;
}

.btn-round {
    border-radius: 30px;
}

.full-width-div {
    /*position: absolute;*/
    width: 100%;
    left: 0;
}

.icono-documento{
    width: 48px;
    height: auto;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.tooltip-inner {
    text-align: left;
}

.semaforo-rojo{
    font-size: 30px;
    color:#d50000;
}

.semaforo-amarillo{
    font-size: 30px;
    color:#ffd600;
}

.semaforo-verde{
    font-size: 30px;
    color:#1b5e20;    
}

